:root {
    --chili-red: #e3170aff;
    --celadon: #a9e5bbff;
    --vanilla: #fcf6b1ff;
    --xanthous: #f7b32bff;
    --dark-purple: #2d1e2fff;
}

/* utility */

#wrapper {
    margin: 80px auto;
    background-color: var(--dark-purple);
    height: 1000px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}
.square {
    border: 1px solid var(--dark-purple);
    background-color: var(--vanilla);
    cursor: pointer;
}
button {
    width: 10%;
    height: 10%;
}

/* colors */

.bg-sky {
    background-color: skyblue;
}